In [1]:
strings = ['a','as','bat','car','dove','python']
[x.upper() for x in strings if len(x) > 2]

['BAT', 'CAR', 'DOVE', 'PYTHON']

In [3]:
# set compression
unique_lengths = {len(x) for x in strings}
unique_lengths

{1, 2, 3, 4, 6}

In [4]:
set(map(len, strings))

{1, 2, 3, 4, 6}

In [5]:
loc_mapping = {val:index for index, val in enumerate(strings)}
loc_mapping

{'a': 0, 'as': 1, 'bat': 2, 'car': 3, 'dove': 4, 'python': 5}

In [6]:
# nested list comprehension
all_data = [['John','Emily','Michael','Mary','Steven'],
            ['Maria','Juan','Javier','Natalia','Pilar']]

In [7]:
result = [name for names in all_data for name in names if name.count('e') >= 2]
result

['Steven']

In [9]:
# flatten
some_tuples = [(1,2,3),(4,5,6),(7,8,9)]
flattened = [x for tup in some_tuples for x in tup]
flattened

[1, 2, 3, 4, 5, 6, 7, 8, 9]

In [11]:
[[x for x in tup] for tup in some_tuples]

[[1, 2, 3], [4, 5, 6], [7, 8, 9]]

# Function

In [4]:
states = ['   Alabama ', 'Georgia!','georgia','georgia','FlOrIda','south     carolina##','West virginia?']
import re # regular expression libary module
# data cleaning
def clean_strings(strings):
    result = []
    for value in strings:
        value = value.strip()
        value = re.sub('[!#?]', '', value)
        value = value.title()
        result.append(value)
    return result

clean_strings(states)

['Alabama',
 'Georgia',
 'Georgia',
 'Georgia',
 'Florida',
 'South     Carolina',
 'West Virginia']

In [6]:
# or to make a list of the operations 
def remove_punctuation(value):
    return re.sub('[!#?]','', value)

clean_ops = [str.strip, remove_punctuation, str.title]
def clean_strings(strings, ops):
    result = []
    for value in strings:
        for function in ops:
            value = function(value)
        result.append(value)
    return result

clean_strings(states, clean_ops)

['Alabama',
 'Georgia',
 'Georgia',
 'Georgia',
 'Florida',
 'South     Carolina',
 'West Virginia']

In [7]:
for x in map(remove_punctuation, states):
    print(x)

   Alabama
Georgia
georgia
georgia
FlOrIda
south     carolina
West virginia

In [8]:
# lambda function
def apply_to_list(some_list, f):
    return [f(x) for x in some_list]
ints = [4,0,1,5,6]
apply_to_list(ints, lambda x: x * 2)

[8, 0, 2, 10, 12]

In [9]:
strings = ['foo','card','bar','aaaa','abab']
strings.sort(key=lambda x:len(set(list(x))))
strings

['aaaa', 'foo', 'abab', 'bar', 'card']

In [1]:
# generator 
def squares (n=10):
    print('generating squares from 1 to {0}'.format(n ** 2))
    for i in range(1, n + 1):
        yield i ** 2
        
gen = squares()

In [2]:
gen

In [3]:
gen = ( x ** 2 for x in range(100))
gen

In [5]:
# itertool module
import itertools
first_letter = lambda x: x[0]
names = ['Alan','Adam','Wes','Will','Albert','Steven']
for letter, names in itertools.groupby(names, first_letter):
    print(letter, list(names))   # name is a generator

A ['Alan', 'Adam']
W ['Wes', 'Will']
A ['Albert']
S ['Steven']

In [ ]:
def attempt_float(x):
    try:
        return float(x)
    except:
        return x
def attempt_float(x):
    try:
        return float(x)
    except (TypeError, ValueError):
        return x

In [ ]:
f = open(path, 'w')
try:
    write_to_file(f)
finally:
    f.close()