# tuple

In [1]:
tup = 4,5,6
nested_tup = (4,5,6),(7,8)
tup1 = tuple('string')

In [2]:
tup1[0]

's'

In [3]:
tup = tuple(['foo', [1,2], True])
tup[1].append(3)
tup

('foo', [1, 2, 3], True)

In [4]:
(4, None, 'foo') + (6,0) + ('bar',)

(4, None, 'foo', 6, 0, 'bar')

In [5]:
('foo','bar') * 4

('foo', 'bar', 'foo', 'bar', 'foo', 'bar', 'foo', 'bar')

In [6]:
# unpack value 
tup = (4,5,6)
a,b,c = tup
b

5

In [7]:
tup = 4,5,(6,7) # nested tuples can also be unpacked
a,b,(c,d) = tup
d

7

In [8]:
a,b = 1,2
b,a = a,b # swap variables
a

2

In [9]:
seq = [(1,2,3),(4,5,6),(7,8,9)]
for a,b,c in seq:
    print('a={0}, b={1}, c={2}'.format(a,b,c))

a=1, b=2, c=3
a=4, b=5, c=6
a=7, b=8, c=9

In [10]:
values = 1,2,3,4,5
a,b, *rest = values 
# or
a,b, *_ = values
a,b

(1, 2)

In [11]:
rest

[3, 4, 5]

In [12]:
a = (1,2,2,2,3,4,2)
a.count(2)

4

# list

In [13]:
a_list = [2,3,7,None]
tup = ('foo','bar','baz')
b_list = list(tup)
b_list[1] = 'peekaboo'
b_list

['foo', 'peekaboo', 'baz']

In [14]:
b_list.append('dwarf')
b_list.insert(1,'red')
b_list

['foo', 'red', 'peekaboo', 'baz', 'dwarf']

In [15]:
b_list.pop(2)
b_list

['foo', 'red', 'baz', 'dwarf']

In [16]:
b_list.append('foo')
b_list

['foo', 'red', 'baz', 'dwarf', 'foo']

In [17]:
b_list.remove('foo')
b_list

['red', 'baz', 'dwarf', 'foo']

In [18]:
'dwarf' in b_list

True

In [19]:
'dwarf' not in b_list

False

In [20]:
x = [4, None, 'foo']
x.extend([7,8,(2,3)])
x

[4, None, 'foo', 7, 8, (2, 3)]

In [21]:
a = [7,2,5,1,3]
a.sort()
a

[1, 2, 3, 5, 7]

In [22]:
b = ['saw','small','he','foxes','six']
b.sort(key=len)
b

['he', 'saw', 'six', 'small', 'foxes']

In [23]:
# binary search in a sorted list
import bisect
c = [1,2,2,2,3,4,7]
bisect.bisect(c,2) # insert '2' into c to make sure it is still sorted list, return the inserted location

4

In [24]:
bisect.insort(c,6) # actually insert '6' in c
c

[1, 2, 2, 2, 3, 4, 6, 7]

In [25]:
# start index is included, while stop index is not included
seq = [7,2,3,7,5,6,0,1]
seq[1:5]

[2, 3, 7, 5]

In [26]:
seq[3:4] = [6,3]
seq

[7, 2, 3, 6, 3, 5, 6, 0, 1]

In [27]:
seq[:5]

[7, 2, 3, 6, 3]

In [28]:
seq[3:]

[6, 3, 5, 6, 0, 1]

In [29]:
seq[-4:]

[5, 6, 0, 1]

In [30]:
seq[-6:-2]

[6, 3, 5, 6]

In [31]:
seq[::2]

[7, 3, 3, 6, 1]

In [32]:
# used to reverse list 
seq[::-1]

[1, 0, 6, 5, 3, 6, 3, 2, 7]

In [33]:
# enumerate
some_list = ['foo','bar','baz']
mapping = {}
for i,v in enumerate(some_list):
    mapping[v] = i

mapping

{'bar': 1, 'baz': 2, 'foo': 0}

In [34]:
sorted('horse race')

[' ', 'a', 'c', 'e', 'e', 'h', 'o', 'r', 'r', 's']

In [35]:
# zip
seq1 = ['foo','bar','baz']
seq2 = ['one','two','three']
zipped = zip(seq1,seq2)
list(zipped)

[('foo', 'one'), ('bar', 'two'), ('baz', 'three')]

In [36]:
seq3 = [False, True]
list(zip(seq1,seq2,seq3))

[('foo', 'one', False), ('bar', 'two', True)]

In [37]:
for i, (a,b) in enumerate(zip(seq1,seq2)):
    print('{0}: {1}, {2}'.format(i,a,b))

0: foo, one
1: bar, two
2: baz, three

In [38]:
# unzip
pitchers = [('Nolan','Ryan'),('Roger','Clemens'),('Schilling','Curt')]
first_names, last_names = zip(*pitchers)
first_names

('Nolan', 'Roger', 'Schilling')

In [39]:
list(reversed(range(10)))

[9, 8, 7, 6, 5, 4, 3, 2, 1, 0]

# dict

In [40]:
empty_dict = {}
d1 = {'a':'some value', 'b':[1,2,3,4]}
d1

{'a': 'some value', 'b': [1, 2, 3, 4]}

In [41]:
d1[7] = 'an integer'
d1

{7: 'an integer', 'a': 'some value', 'b': [1, 2, 3, 4]}

In [42]:
d1['b']

[1, 2, 3, 4]

In [43]:
'b' in d1

True

In [44]:
d1[5] = 'some value'
d1['dummy'] = 'another value'
d1

{5: 'some value',
 7: 'an integer',
 'a': 'some value',
 'b': [1, 2, 3, 4],
 'dummy': 'another value'}

In [45]:
del d1[5] # delete, all operations are done by indexing their keys
d1

{7: 'an integer',
 'a': 'some value',
 'b': [1, 2, 3, 4],
 'dummy': 'another value'}

In [46]:
ret = d1.pop('dummy') # return the value of that deleted key
ret

'another value'

In [47]:
d1

{7: 'an integer', 'a': 'some value', 'b': [1, 2, 3, 4]}

In [48]:
key_list = list(d1.keys())
key_list

['a', 'b', 7]

In [49]:
value_list = list(d1.values())
value_list

['some value', [1, 2, 3, 4], 'an integer']

In [50]:
d1.update({'b':'foo', 'c':12})
d1

{7: 'an integer', 'a': 'some value', 'b': 'foo', 'c': 12}

In [51]:
mapping = {}
for key,value in zip(key_list, value_list):
    mapping[key] = value

mapping

{7: 'an integer', 'a': 'some value', 'b': [1, 2, 3, 4]}

In [52]:
# create dict by list of 2-tuples
mapping = dict(zip(range(5), reversed(range(5))))
mapping

{0: 4, 1: 3, 2: 2, 3: 1, 4: 0}

In [ ]:
# default value
value = some_dict.get(key, default_value) # if key exists, then return its value, otherwise the default_value

In [53]:
words = ['apple','bat','bar','atom','book']
by_letter = {}
for word in words:
    letter = word[0]
    if letter not in by_letter:
        by_letter[letter] = [word]
    else:
        by_letter[letter].append(word)
        
by_letter

{'a': ['apple', 'atom'], 'b': ['bat', 'bar', 'book']}

In [54]:
# the loop above can be rewritten 
for word in words:
    letter = word[0]
    by_letter.setdefault(letter, []).append(word)
    
# or 
from collections import defaultdict
by_letter = defaultdict(list)
for word in words:
    by_letter[word[0]].append(word)

In [55]:
# check whether an object is hashable or not (can be used as a key in a dict)
hash('string')

-1915604266213807452

In [56]:
hash((1,2,(2,3)))

1097636502276347782

In [58]:
hash((1,2,[2,3])) # because list is mutable

TypeError: unhashable type: 'list'

In [60]:
d = {}
d[tuple([1,2,3])] = 5
d

{(1, 2, 3): 5}

# set

In [61]:
set([2,2,2,1,3,3])

{1, 2, 3}

In [62]:
{2,2,2,1,3,3}

{1, 2, 3}

In [63]:
a = {1,2,3,4,5}
b = {3,4,5,6,7,8}

In [64]:
a.union(b)  # or a | b

{1, 2, 3, 4, 5, 6, 7, 8}

In [66]:
a.intersection(b) # or a & b

{3, 4, 5}

In [ ]:
a_set = {1,2,3,4,5}
a_set

In [ ]:
{1,2,3}.issubset(a_set)